.dropdown {
  @reference absolute rounded-md shadow-lg transform transition ease-in-out duration-300 opacity-0 scale-0 pointer-events-none;
  &:not(.dropdown-right),
  &:not(.dropdown-left) {
    @reference origin-top -translate-x-1/2 translate-y-0;
  }

  &.dropdown-right {
    @reference origin-top-right right-0 translate-x-0 translate-y-0;
  }

  &.dropdown-left {
    @reference origin-top-left left-0 translate-x-0 translate-y-0;
  }

  &.open {
    @reference opacity-100 scale-100 pointer-events-auto;
  }

  .dropdown-title {
    @reference py-2 px-3 text-sm font-bold uppercase;
  }

  .dropdown-content {
    @reference rounded-md shadow-lg;
  }

  &.navbar-dropdown {
    @reference z-30;
  }
}


.dropdown {
  .dropdown-content {
    background-color: #1a202c;

    .dropdown-item {
      background-color: #1a202c;
      color: #f7fafc;
      &:hover {
        background-color: #2d3748;
      }
    }
  }
}
