.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    position: relative;
    background: black;
    color: lightgray;
    height: 70px;
    border-radius: 8px;
    padding: 0 20px;
    display: flex;
    
     li {
      position: relative;
      list-style: none;

      span {
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        font-weight: 500;
        transition: all 0.3s ease;
        transition-delay: 0s;
        opacity: 0;
        visibility: hidden;
      }

      a {
        z-index: 100;
        text-decoration: none;
        width: 50px;
        height: 50px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease;

        .active {
          width: 60px;
          height: 60px;
          top: -35px;

          span {
            top: 50%;
            opacity: 1;
            visibility: visible;
            transition-delay: 0.1s;
          }
        }
      }
    }
    .indicator {
      position: absolute;
      width: 60px;
      height: 60px;
      background: black;
      left: 20px;
      top: -30px;
      border: 4px solid lightgray;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
  }
 
}
