@use "./palettes/background.scss";
@use "./palettes/left-sidebar.scss";
@use "./palettes/logo.scss";
@use "./palettes/navbar.scss";
@use "./palettes/top-navigation.scss";
@use "./palettes/right-sidebar.scss";
