@use 'variables';
@use "tailwindcss";


*{
  padding: 0;
}

.children-x-1 > * {
  margin-right: 0.25rem;
}

.children-x-2 > * {
  margin-right: 0.5rem;
}

.children-x-4 > * {
  margin-right: 1rem;
}

/**
 * base styles
 */
h1 {
  @reference text-5xl;
}

h2 {
  @reference text-4xl;
}

h3 {
  @reference text-3xl;
}

h4 {
  @reference text-2xl;
}

h5 {
  @reference text-xl;
}

h6 {
  @reference text-lg;
}

code {
  @reference font-mono p-1 inline rounded font-bold;
}

pre {
  @reference font-mono p-2 block rounded font-bold;
}

html {
  @reference font-sans;
}

body {
  @reference font-sans antialiased text-sm;
}

.w-96 {
  width: 24rem;
}

.link {
  @reference text-blue-600;
}

.raised {
  @reference shadow;
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/**
 * required to avoid flexbox issues in nextjs apps
 */
#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.homepage {
  .homepage-navbar-actions {
    @reference ml-auto;
  }
}
